.glass.cover {
  transform: translateY(20px);
}

.glass.lift {
  transform: translateY(-75px);
}

.glass.shake {
  animation: shake 0.6s ease;
}

@keyframes shake {
  0% {
    transform: translateY(20px) rotate(0);
  }
  25% {
    transform: translateY(20px) rotate(-3deg);
  }
  50% {
    transform: translateY(20px) rotate(3deg);
  }
  75% {
    transform: translateY(20px) rotate(-2deg);
  }
  100% {
    transform: translateY(20px) rotate(0);
  }
}


/* BULLES POUR ANNONCES DES JOUEURS */
.bubble {
  bottom: 110%;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  color: #00ffcc;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  transform: translateY(10px) scale(0.9);
}

.bubble.show {
  animation: bubblePop 2.2s ease forwards;
}

@keyframes bubblePop {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }
  20% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}