@font-face {
  font-family: "PeruFont";
  src: url("assets/fonts/PeruFont.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  font-family: "PeruFont", sans-serif;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.corner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  z-index: 10;
}

.top-left {
  top: 65px;
  left: 300px;
}
.top-right {
  top: 65px;
  right: 300px;
}
.bottom-left {
  bottom: 65px;
  left: 300px;
}
.bottom-right {
  bottom: 65px;
  right: 300px;
}

.player {
  position: relative;
  padding: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.player-info {
  display: grid;
  font-size: 14px;
  margin-top: 4px;
}

.pseudo {
  color: white;
  font-weight: bold;
}

.dice-result img {
  aspect-ratio: 1;
  height: 25px;
}

.dice-container {
  position: relative;
}

.dice-row {
  position: absolute;
  inset: 0;
}

.dice {
  position: absolute;
  aspect-ratio: 1;
}
.dice.cinq {
  width: 38px;
}
.dice.quatre {
  width: 42px;
}
.dice.trois {
  width: 50px;
}
.dice.deux {
  width: 60px;
}
.dice.un {
  width: 70px;
}

.glass {
  position: absolute;
  top: -100px;
  left: 0;
  width: 240px;
  height: 240px;
  pointer-events: none;
  transform-origin: bottom center;
  transform: translateY(
    20px
  ); /* je sais pas si l'animation de base devait avoir cet effet donc maybe enlever si oui*/
  z-index: 3;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.dice img,
.glass img {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
}

.dice.red img,
.glass.red img,
.dice-result.red img {
  filter: sepia(1) hue-rotate(-15deg) saturate(2);
}

.dice.yellow img,
.glass.yellow img,
.dice-result.yellow img {
  filter: sepia(1) hue-rotate(35deg) saturate(2);
}

.dice.green img,
.glass.green img,
.dice-result.green img {
  filter: sepia(1) hue-rotate(130deg) saturate(2);
}

.dice.blue img,
.glass.blue img,
.dice-result.blue img {
  filter: sepia(1) hue-rotate(245deg) saturate(2);
}

.glass.gray {
  filter: grayscale(100%);
}

.crt {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0px,
    rgba(0, 0, 0, 0.25) 1px,
    transparent 1px,
    transparent 3px
  );
}

.crt::before {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

.crt {
  animation: crt-flicker 0.15s infinite;
}

@keyframes crt-flicker {
  0% {
    opacity: 0.92;
  }
  50% {
    opacity: 0.97;
  }
  100% {
    opacity: 0.93;
  }
}

.tray {
  width: 220px;
  height: 140px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

#announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0px black;
  pointer-events: none;
}

.botlane {
  display: flex;
  gap: 25%;
}

.palifico img {
  display: none;
  aspect-ratio: 1;
  height: 25px;
}

.palifico.active img {
  display: block;
}
